name: CI - tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - 'wf-*'
      - 'wf-*/*'
      - 'wf-mtc.*'
      - 'wf-mtc.4/*'
      - 'wf-mtc.4/tests-runner-snapshots'

jobs:
  test:
    name: Run test suite
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Prepare environment
        run: |
          sudo apt-get update -y
          sudo apt-get install -y direnv

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test
        env:
          CI: true
